.parent{
    -fx-background-color:transparent;
}
.button {
  -fx-background-color: #ffa69e;
  -fx-text-fill: #2f4858;
}
.button:hover {
  -fx-background-color: #ffbeb8;
}
.button:pressed {
  -fx-background-color: #ffccc8;
}

.scroll-pane {
  -fx-background-color: #2f4858;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.increment-button,
.decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: #e7e5e5;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #10165f;
  -fx-background-radius: 5em;
}

.scroll-pane > .corner {
  -fx-background-color: #e7e5e5;
}
